@import "../../../../scss/main.scss";

.contact {
  display: flex;
  align-items: center;
  padding: 30px;
  border-top: 0.5px solid $border-gray-color;
  cursor: pointer;
  transition: all 0.5s;
}

.active {
  background-color: $activ-item-gray-background-color;
}

.closeBtn {
  visibility: hidden;

  @media (max-width: 768px) {
    visibility: visible;
  }
}
