@import "../scss/main.scss";

.cockpit {
  background-color: $light-gray-color;
  width: 100%;
  height: 100%;
}

.cockpitBody {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.cockpitItem {
  width: 100%;
  min-height: calc(100vh - 64px);
  margin-top: 64px;
  padding-top: 64px;
  margin-left: 280px;
}

@media (max-width: 1200px) {
  .cockpitItem {
    margin-left: 0;
  }
}
