@import "../../scss/main.scss";

.img {
  width: 100%;
}

.title {
  padding: 20px 0 0 20px;
  color: $main-color;
}

.author {
  padding: 0 0 20px 20px;
}

.listItem {
  display: flex;
}

.head {
  min-width: 250px;
  margin: 5px;
  color: $gray-color;
  font-weight: normal;
}

.body {
  margin: 5px;
  color: $dark-gray-color;
}

.type {
  margin: 20px 0 0 20px;
  line-height: 1rem;
  color: $gray-color;
}

@media (max-width: 576px) {
  .listItem {
    display: block;
  }
}
