.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

@media (max-width: 576px) {
  .header {
    flex-direction: column;
    align-items: flex-start;

    h2 {
      margin: 10px 0;
    }
  }
}
