$main-color: #1976d2;
$gray-blue-color: #568cc3;
$error-color: rgb(187, 9, 6);
$icon-color: #c1c7d0;
$separator-color: rgb(204, 204, 204);
$link-hover-color: rgba(25, 118, 210, 0.04);
$link-hover-dark-gray-color: #242a38;
$light-gray-color: #f9fafc;
$gray-color: #6a6b6b;
$dark-gray-color: #111827;
$light-link-color: #c5c9d0;
$border-gray-color: rgb(235, 235, 235);
$label-gray-color: rgb(101, 116, 139);
$box-shadow-color: rgb(100 116 139 / 6%) 0px 1px 1px, rgb(100 116 139 / 10%) 0px 1px 2px;
$body-background-color: rgb(249, 250, 252);
