$main-color: #1976d2;
$error-color: rgb(187, 9, 6);
$icon-color: #c1c7d0;
$separator-color: rgb(204, 204, 204);
$link-hover-color: rgb(226, 226, 226);
$link-hover-dark-gray-color: #242a38;
$light-gray-color: #f9fafc;
$dark-gray-color: #111827;
$light-link-color: #c5c9d0;
