.form-field {
  margin: 0.6rem 0;
}

.wrapper-with-side-panel {
  width: 100%;
  transition: all 0.5s;

  @media (min-width: 1200px) {
    transform: translateX(300px);
    width: calc(100% - 300px);
    height: 100vh;

    &--open {
      transform: translateX(0px);
      width: 100%;
    }
  }
}
