.MuiFormControl-root {
  width: 100%;
}

.MuiToolbar-root {
  p {
    margin: 0;
  }
}

.container {
  padding: 0 24px;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

@media (max-width: 576px) {
  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.1rem;
  }
}
